.login {
    display: flex;
    justify-content: center;

    &__heading {
        margin:0;
        text-align: center;

        @media screen and (min-width: 767px) {
            font-size: 32px;
        }
    }

    &__form {
        background-color: #242424;
        border: 1px solid #808080;
        display: flex;
        flex-direction: column;
        padding: 16px;
        margin: 16px;
        width: 100%;
        max-width: 480px;
        gap: 16px;

        @media screen and (min-width: 767px) {
            margin: 64px 16px;
            padding: 32px;
        }
    }

    &__input {
        padding: 8px;
    }

    &__button {
        padding: 8px;
        cursor: pointer;
    }

    &__errorMsg {
        color: red;
        margin: 0;
    }

    &__link {
        padding: 4px;
        border-radius: 4px;
        transition: background-color ease-in 0.2s;

        &:hover {
            background-color: #808080;
        }
    }
}