.infoTile {
    background-color: #242424;
    border: 1px solid #808080;
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    margin: 16px;
    width: 100%;
    max-width: 480px;
    gap: 16px;

    &__heading {
        text-align: center;
    }
}