.taskSection {
    border: 1px solid #808080;
    margin: 16px;
    background-color: #242424;

    &__heading {
        padding: 0 16px;
    }

    &__formWrapper {
        padding: 16px;
        gap: 16px;
        border-bottom: 1px solid gray;
        display: flex;
    }

    &__inputsWrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1;
    }

    &__input,
    &__textarea {
        font-size: 18px;
        padding: 8px;
    }

    &__inputButton {
        padding: 4px 32px;
        cursor: pointer;
        align-self: center;
        font-size: 18px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;

        &--loading {
            text-align: center;
        }
    }

    &__listItem {
        padding: 8px;
        display: flex;
        align-items: center;
        gap: 16px;

        &:not(:last-child){
            border-bottom: 1px solid gray;
        }
    }

    &__listItemContent {
        flex:1;

        h3 {
            margin: 0;
        }

        p {
            margin: 4px 0;
        }
    }

    &__listItemChangeDoneBtn {
        padding: 12px;
        border: none;
        cursor: pointer;
    }

    &__listItemRemoveBtn {
        padding: 12px;
        border: none;
        cursor: pointer;
    }
}